body {
  overflow-x: hidden;
  font-family: Sans-Serif;
  margin: 0;
}

nav{
position: absolute;
background-color: black;
right: 0px;
left: 0px;
top: 0px;
border-bottom: 2px solid gray;
height: 8%;


}

.navbar {
display: flex;
align-items: left;
padding: 0.5% 0px 0.3% 5%;
justify-content: baseline;
text-decoration: none;
}

li a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

li{
  display: inline;
  margin-right: 2%; 
  margin-left: 2%;
  font-size: 16px;
  color: black;
}

.loupe{
    align-items: flex-end;
    border:0;
}

.navbar input[type=text] {
  border-color: white 0.1px;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  width: 30%;
  height: 2%;
  color: aliceblue;
  text-decoration: none;
  background-color: black;
}

.panier{
  width: 25px;
  align-items: flex-end;
  padding-left: 15%;
  border:0;
} 



.flex-container {
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
  
  .flex-items:nth-child(1) {
    margin-left: 150px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(2) {
    padding-left: 200px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  #Ajout{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: #0099CC;

  }
  #Achat{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: #F32;


  }

  #nombrearticle{
    border: thick double #000D12;
    width: 80px;
  }
  #na{
    border: none;
    margin-right: 10px;
  }
  #nm{
    border: none;
    margin-left: 5px;
  }

#images{
    width: 500px;
}

.footer{
  margin-left: 12%;
  margin-top: 200px;
}


.signup{
  display: flex;
  border: 1px solid ;
  margin-top: 1%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.shop{
  float: right;
  margin-right: 7%;

  
}

.help{
  float: right;
  margin-right: 7%;
  
  
}

.about{
  float: right;
  margin-right: 19%;
}

.shop:hover{
  cursor: pointer;
}

.about:hover{
  cursor: pointer;
}

.help:hover{
  cursor: pointer;
}
