@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap');


body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
  }
 
nav{
  position: absolute;
  background-color: black;
  right: 0px;
  left: 0px;
  top: 0px;
  border-bottom: 2px solid gray;
  height: 8%;

}

.navbar {
  display: flex;
  align-items: left;
  padding: 0.3% 0px 0.3% 5%;
  justify-content: baseline;
  text-decoration: none;
}

li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

li{
    display: inline;
    margin-right: 2%; 
    margin-left: 2%;
    font-size: 16px;
    color: black;
}

.loupe{
    width: 25px;
    align-items: flex-end;
    border:0;
}

.navbar input[type=text] {
    border-color: white 0.1px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    width: 30%;
    height: 2%;
    color: aliceblue;
    text-decoration: none;
    background-color: black;
}

.panier{
    width: 25px;
    align-items: flex-end;
    padding-left: 15%;
    border:0;
} 

header{
  background-color: black;
  padding-top: 5%;
}


.sous-titre{
    margin-top: 2%;
    margin-left: 10%;
    max-width: 500px;
    margin-bottom: 2%;
    color: white;


} 

.filtres{
    margin-left: 10%;
    display: flex;
}

.souligne{
    text-align: right;  
    margin-left: 1%;
    margin-top: 1.85%;
    display: flex;
    text-decoration: underline;
    color:grey;

    
}

.sortby{
    border: 1px solid ;
    margin-top: 1%;
    float: right;
    display: flex;
    margin-left: 56%;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.show{
    display: flex;
    float: right;
    margin-right: 15%;
    
}

.categories{
    margin-left: 10%;
    display: felx;

}

.checkbox{
    font-size: larger;
    display: felx;
    
}


.dot {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    display: inline-block;
    border: 1px solid black;
    
  }
 
.article{
    display: flex;
    float:right;
    margin-top: 3%;
    margin-right: 33%;
    border: 120px solid grey;
}

.box{
    display: flex;
    float: right;
    margin-right: 65%;
    margin-top: 1%;
}



.card{
    margin-right: 34%;
    display: grid;
    width: 250px;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-wrap: wrap;
    float: right;
    margin-top: 3%;
}

.card_image1 {
     grid-area: 2 / 2 / 3 / 3; 
     margin-right: 100px;
     
}
.card_image2 { 
    grid-area: 2 / 3 / 3 / 4; 
    margin-right: 100px;

}
.card_image3 { 
    grid-area: 2 / 4 / 3 / 5;

}
.card_image4  { 
    grid-area: 3 / 2 / 4 / 3; 
    margin-right: 100px;

}
.card_image5 { 
    grid-area: 3 / 3 / 4 / 4; 
    margin-right: 100px;

}
.card_image6 { 
    grid-area: 3 / 4 / 4 / 5; 
}

    

.card_txt1 {
    margin: 3px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;

}

.more{
    grid-area: 4 / 3 / 5 / 4;
    text-align: center;
    margin-top: 5%;
    margin-right: 30%;
    border: 1.5px solid black;
    font-weight: bolder;
}


.color:hover{
    cursor: pointer;
}

.souligne:hover{
    cursor: pointer;
}

.sortby:hover{
    cursor: pointer;
}

.more:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.inscrire:hover{
    cursor: pointer;
}



.color{
    max-width: 160px;
}




.footer{
    margin-left: 12%;
    margin-top: 700px;
}


.signup{
    display: flex;
    border: 1px solid ;
    margin-top: 1%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.shop{
    float: right;
    margin-right: 7%;

    
}

.help{
    float: right;
    margin-right: 7%;
    
    
}

.about{
    float: right;
    margin-right: 19%;
}

.shop:hover{
    cursor: pointer;
}

.about:hover{
    cursor: pointer;
}

.help:hover{
    cursor: pointer;
}

